In [1]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC38\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC38\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC38\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC38\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [7]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [8]:
penguins.describe

<bound method NDFrame.describe of      rowid    species     island  bill_length_mm  bill_depth_mm  \
0        1     Adelie  Torgersen            39.1           18.7
1        2     Adelie  Torgersen            39.5           17.4
2        3     Adelie  Torgersen            40.3           18.0
3        4     Adelie  Torgersen             NaN            NaN
4        5     Adelie  Torgersen            36.7           19.3
..     ...        ...        ...             ...            ...
339    340  Chinstrap      Dream            55.8           19.8
340    341  Chinstrap      Dream            43.5           18.1
341    342  Chinstrap      Dream            49.6           18.2
342    343  Chinstrap      Dream            50.8           19.0
343    344  Chinstrap      Dream            50.2           18.7

     flipper_length_mm  body_mass_g     sex  year
0                181.0       3750.0    male  2007
1                186.0       3800.0  female  2007
2                195.0       3250.0  female  2007
3                  NaN          NaN     NaN  2007
4                193.0       3450.0  female  2007
..                 ...          ...     ...   ...
339              207.0       4000.0    male  2009
340              202.0       3400.0  female  2009
341              193.0       3775.0    male  2009
342              210.0       4100.0    male  2009
343              198.0       3775.0  female  2009

[344 rows x 9 columns]>

In [9]:
penguins['bill_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339    55.8
340    43.5
341    49.6
342    50.8
343    50.2
Name: bill_length_mm, Length: 344, dtype: float64

In [10]:
penguins.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [11]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [12]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())

In [13]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())

In [14]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [15]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

In [16]:
penguins.isnull().sum()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [17]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     344 non-null    float64
 4   bill_depth_mm      344 non-null    float64
 5   flipper_length_mm  344 non-null    float64
 6   body_mass_g        344 non-null    float64
 7   sex                344 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [18]:
penguins.dtypes

rowid                  int64
species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
year                   int64
dtype: object

In [19]:
penguins['rowid']=penguins['rowid'].astype('category')

In [20]:
penguins['species']=penguins['species'].astype('object')

In [21]:
penguins['island']=penguins['island'].astype('object')

In [22]:
penguins['year']=penguins['year'].astype('category')

In [23]:
penguins.dtypes

rowid                category
species                object
island                 object
bill_length_mm        float64
bill_depth_mm         float64
flipper_length_mm     float64
body_mass_g           float64
sex                    object
year                 category
dtype: object

In [24]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009

In [25]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [26]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [27]:
penguins[penguins['species'] == 'Adelie']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.60000,18.40000,184.000000,3475.000000,female,2009
148,149,Adelie,Dream,36.00000,17.80000,195.000000,3450.000000,female,2009
149,150,Adelie,Dream,37.80000,18.10000,193.000000,3750.000000,male,2009
150,151,Adelie,Dream,36.00000,17.10000,187.000000,3700.000000,female,2009
151,152,Adelie,Dream,41.50000,18.50000,201.000000,4000.000000,male,2009

In [28]:
penguins['wkilo'] = np.round(penguins['body_mass_g'] / 1000, 1)

In [29]:
penguins

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,2009,4.0
340,341,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,2009,3.4
341,342,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,2009,3.8
342,343,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,2009,4.1
343,344,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,2009,3.8

<H1>1-3# Does the penguins species 'Adelie' lives exclusively on an island?</H1>

<h2>Adelie on Island</h2>

In [30]:
penguins['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [31]:
(penguins['species'] == 'Adelie')& (penguins['species'] == 'Adelie')

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [32]:
penguins[(penguins['species'] == 'Adelie')& (penguins['island'] == 'Biscoe')]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
20,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007,3.4
21,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007,3.6
22,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007,3.8
23,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male,2007,4.0
24,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male,2007,3.8
25,26,Adelie,Biscoe,35.3,18.9,187.0,3800.0,female,2007,3.8
26,27,Adelie,Biscoe,40.6,18.6,183.0,3550.0,male,2007,3.6
27,28,Adelie,Biscoe,40.5,17.9,187.0,3200.0,female,2007,3.2
28,29,Adelie,Biscoe,37.9,18.6,172.0,3150.0,female,2007,3.2
29,30,Adelie,Biscoe,40.5,18.9,180.0,3950.0,male,2007,4.0
50,51,Adelie,Biscoe,39.6,17.7,186.0,3500.0,female,2008,3.5
51,52,Adelie,Biscoe,40.1,18.9,188.0,4300.0,male,2008,4.3
52,53,Adelie,Biscoe,35.0,17.9,190.0,3450.0,female,2008,3.4
53,54,Adelie,Biscoe,42.0,19.5,200.0,4050.0,male,2008,4.0
54,55,Adelie,Biscoe,34.5,18.1,187.0,2900.0,female,2008,2.9
55,56,Adelie,Biscoe,41.4,18.6,191.0,3700.0,male,2008,3.7
56,57,Adelie,Biscoe,39.0,17.5,186.0,3550.0,female,2008,3.6
57,58,Adelie,Biscoe,40.6,18.8,193.0,3800.0,male,2008,3.8
58,59,Adelie,Biscoe,36.5,16.6,181.0,2850.0,female,2008,2.8
59,60,Adelie,Biscoe,37.6,19.1,194.0,3750.0,male,2008,3.8
60,61,Adelie,Biscoe,35.7,16.9,185.0,3150.0,female,2008,3.2
61,62,Adelie,Biscoe,41.3,21.1,195.0,4400.0,male,2008,4.4
62,63,Adelie,Biscoe,37.6,17.0,185.0,3600.0,female,2008,3.6
63,64,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008,4.0
64,65,Adelie,Biscoe,36.4,17.1,184.0,2850.0,female,2008,2.8
65,66,Adelie,Biscoe,41.6,18.0,192.0,3950.0,male,2008,4.0
66,67,Adelie,Biscoe,35.5,16.2,195.0,3350.0,female,2008,3.4
67,68,Adelie,Biscoe,41.1,19.1,188.0,4100.0,male,2008,4.1
100,101,Adelie,Biscoe,35.0,17.9,192.0,3725.0,female,2009,3.7
101,102,Adelie,Biscoe,41.0,20.0,203.0,4725.0,male,2009,4.7
102,103,Adelie,Biscoe,37.7,16.0,183.0,3075.0,female,2009,3.1
103,104,Adelie,Biscoe,37.8,20.0,190.0,4250.0,male,2009,4.2
104,105,Adelie,Biscoe,37.9,18.6,193.0,2925.0,female,2009,2.9
105,106,Adelie,Biscoe,39.7,18.9,184.0,3550.0,male,2009,3.6
106,107,Adelie,Biscoe,38.6,17.2,199.0,3750.0,female,2009,3.8
107,108,Adelie,Biscoe,38.2,20.0,190.0,3900.0,male,2009,3.9
108,109,Adelie,Biscoe,38.1,17.0,181.0,3175.0,female,2009,3.2
109,110,Adelie,Biscoe,43.2,19.0,197.0,4775.0,male,2009,4.8
110,111,Adelie,Biscoe,38.1,16.5,198.0,3825.0,female,2009,3.8
111,112,Adelie,Biscoe,45.6,20.3,191.0,4600.0,male,2009,4.6
112,113,Adelie,Biscoe,39.7,17.7,193.0,3200.0,female,2009,3.2
113,114,Adelie,Biscoe,42.2,19.5,197.0,4275.0,male,2009,4.3
114,115,Adelie,Biscoe,39.6,20.7,191.0,3900.0,female,2009,3.9
115,116,Adelie,Biscoe,42.7,18.3,196.0,4075.0,male,2009,4.1

In [33]:
adelie_biscoe = penguins[(penguins['species'] == 'Adelie')& (penguins['island'] == 'Biscoe')]

In [34]:
penguins[(penguins['species'] == 'Adelie')& (penguins['island'] == 'Torgersen')]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,2007,3.8
1,2,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,2007,3.8
2,3,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,2007,3.2
3,4,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,male,2007,4.2
4,5,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,2007,3.4
5,6,Adelie,Torgersen,39.30000,20.60000,190.000000,3650.000000,male,2007,3.6
6,7,Adelie,Torgersen,38.90000,17.80000,181.000000,3625.000000,female,2007,3.6
7,8,Adelie,Torgersen,39.20000,19.60000,195.000000,4675.000000,male,2007,4.7
8,9,Adelie,Torgersen,34.10000,18.10000,193.000000,3475.000000,male,2007,3.5
9,10,Adelie,Torgersen,42.00000,20.20000,190.000000,4250.000000,male,2007,4.2
10,11,Adelie,Torgersen,37.80000,17.10000,186.000000,3300.000000,male,2007,3.3
11,12,Adelie,Torgersen,37.80000,17.30000,180.000000,3700.000000,male,2007,3.7
12,13,Adelie,Torgersen,41.10000,17.60000,182.000000,3200.000000,female,2007,3.2
13,14,Adelie,Torgersen,38.60000,21.20000,191.000000,3800.000000,male,2007,3.8
14,15,Adelie,Torgersen,34.60000,21.10000,198.000000,4400.000000,male,2007,4.4
15,16,Adelie,Torgersen,36.60000,17.80000,185.000000,3700.000000,female,2007,3.7
16,17,Adelie,Torgersen,38.70000,19.00000,195.000000,3450.000000,female,2007,3.4
17,18,Adelie,Torgersen,42.50000,20.70000,197.000000,4500.000000,male,2007,4.5
18,19,Adelie,Torgersen,34.40000,18.40000,184.000000,3325.000000,female,2007,3.3
19,20,Adelie,Torgersen,46.00000,21.50000,194.000000,4200.000000,male,2007,4.2
68,69,Adelie,Torgersen,35.90000,16.60000,190.000000,3050.000000,female,2008,3.0
69,70,Adelie,Torgersen,41.80000,19.40000,198.000000,4450.000000,male,2008,4.4
70,71,Adelie,Torgersen,33.50000,19.00000,190.000000,3600.000000,female,2008,3.6
71,72,Adelie,Torgersen,39.70000,18.40000,190.000000,3900.000000,male,2008,3.9
72,73,Adelie,Torgersen,39.60000,17.20000,196.000000,3550.000000,female,2008,3.6
73,74,Adelie,Torgersen,45.80000,18.90000,197.000000,4150.000000,male,2008,4.2
74,75,Adelie,Torgersen,35.50000,17.50000,190.000000,3700.000000,female,2008,3.7
75,76,Adelie,Torgersen,42.80000,18.50000,195.000000,4250.000000,male,2008,4.2
76,77,Adelie,Torgersen,40.90000,16.80000,191.000000,3700.000000,female,2008,3.7
77,78,Adelie,Torgersen,37.20000,19.40000,184.000000,3900.000000,male,2008,3.9
78,79,Adelie,Torgersen,36.20000,16.10000,187.000000,3550.000000,female,2008,3.6
79,80,Adelie,Torgersen,42.10000,19.10000,195.000000,4000.000000,male,2008,4.0
80,81,Adelie,Torgersen,34.60000,17.20000,189.000000,3200.000000,female,2008,3.2
81,82,Adelie,Torgersen,42.90000,17.60000,196.000000,4700.000000,male,2008,4.7
82,83,Adelie,Torgersen,36.70000,18.80000,187.000000,3800.000000,female,2008,3.8
83,84,Adelie,Torgersen,35.10000,19.40000,193.000000,4200.000000,male,2008,4.2
116,117,Adelie,Torgersen,38.60000,17.00000,188.000000,2900.000000,female,2009,2.9
117,118,Adelie,Torgersen,37.30000,20.50000,199.000000,3775.000000,male,2009,3.8
118,119,Adelie,Torgersen,35.70000,17.00000,189.000000,3350.000000,female,2009,3.4
119,120,Adelie,Torgersen,41.10000,18.60000,189.000000,3325.000000,male,2009,3.3
120,121,Adelie,Torgersen,36.20000,17.20000,187.000000,3150.000000,female,2009,3.2
121,122,Adelie,Torgersen,37.70000,19.80000,198.000000,3500.000000,male,2009,3.5
122,123,Adelie,Torgersen,40.20000,17.00000,176.000000,3450.000000,female,2009,3.4
123,124,Adelie,Torgersen,41.40000,18.50000,202.000000,3875.000000,male,2009,3.9
124,125,Adelie,Torgersen,35.20000,15.90000,186.000000,3050.000000,female,2009,3.0
125,126,Adelie,Torgersen,40.60000,19.00000,199.000000,4000.000000,male,2009,4.0
126,127,Adelie,Torgersen,38.80000,17.60000,191.000000,3275.000000,female,2009,3.3
127,128,Adelie,Torgersen,41.50000,18.30000,195.000000,4300.000000,male,2009,4.3
128,129,Adelie,Torgersen,39.00000,17.10000,191.000000,3050.000000,female,2009,3.0
129,130,Adelie,Torgersen,44.10000,18.00000,210.000000,4000.000000,male,2009,4.0
130,131,Adelie,Torgersen,38.50000,17.90000,190.000000,3325.000000,female,2009,3.3
131,132,Adelie,Torgersen,43.10000,19.20000,197.000000,3500.000000,male,2009,3.5

In [35]:
adelie_torg = penguins[(penguins['species'] == 'Adelie')& (penguins['island'] == 'Torgersen')]

In [36]:
penguins[(penguins['species'] == 'Adelie')& (penguins['island'] == 'Dream')]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
30,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007,3.2
31,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007,3.9
32,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007,3.3
33,34,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007,3.9
34,35,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007,3.3
35,36,Adelie,Dream,39.2,21.1,196.0,4150.0,male,2007,4.2
36,37,Adelie,Dream,38.8,20.0,190.0,3950.0,male,2007,4.0
37,38,Adelie,Dream,42.2,18.5,180.0,3550.0,female,2007,3.6
38,39,Adelie,Dream,37.6,19.3,181.0,3300.0,female,2007,3.3
39,40,Adelie,Dream,39.8,19.1,184.0,4650.0,male,2007,4.6
40,41,Adelie,Dream,36.5,18.0,182.0,3150.0,female,2007,3.2
41,42,Adelie,Dream,40.8,18.4,195.0,3900.0,male,2007,3.9
42,43,Adelie,Dream,36.0,18.5,186.0,3100.0,female,2007,3.1
43,44,Adelie,Dream,44.1,19.7,196.0,4400.0,male,2007,4.4
44,45,Adelie,Dream,37.0,16.9,185.0,3000.0,female,2007,3.0
45,46,Adelie,Dream,39.6,18.8,190.0,4600.0,male,2007,4.6
46,47,Adelie,Dream,41.1,19.0,182.0,3425.0,male,2007,3.4
47,48,Adelie,Dream,37.5,18.9,179.0,2975.0,male,2007,3.0
48,49,Adelie,Dream,36.0,17.9,190.0,3450.0,female,2007,3.4
49,50,Adelie,Dream,42.3,21.2,191.0,4150.0,male,2007,4.2
84,85,Adelie,Dream,37.3,17.8,191.0,3350.0,female,2008,3.4
85,86,Adelie,Dream,41.3,20.3,194.0,3550.0,male,2008,3.6
86,87,Adelie,Dream,36.3,19.5,190.0,3800.0,male,2008,3.8
87,88,Adelie,Dream,36.9,18.6,189.0,3500.0,female,2008,3.5
88,89,Adelie,Dream,38.3,19.2,189.0,3950.0,male,2008,4.0
89,90,Adelie,Dream,38.9,18.8,190.0,3600.0,female,2008,3.6
90,91,Adelie,Dream,35.7,18.0,202.0,3550.0,female,2008,3.6
91,92,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008,4.3
92,93,Adelie,Dream,34.0,17.1,185.0,3400.0,female,2008,3.4
93,94,Adelie,Dream,39.6,18.1,186.0,4450.0,male,2008,4.4
94,95,Adelie,Dream,36.2,17.3,187.0,3300.0,female,2008,3.3
95,96,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008,4.3
96,97,Adelie,Dream,38.1,18.6,190.0,3700.0,female,2008,3.7
97,98,Adelie,Dream,40.3,18.5,196.0,4350.0,male,2008,4.4
98,99,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008,2.9
99,100,Adelie,Dream,43.2,18.5,192.0,4100.0,male,2008,4.1
132,133,Adelie,Dream,36.8,18.5,193.0,3500.0,female,2009,3.5
133,134,Adelie,Dream,37.5,18.5,199.0,4475.0,male,2009,4.5
134,135,Adelie,Dream,38.1,17.6,187.0,3425.0,female,2009,3.4
135,136,Adelie,Dream,41.1,17.5,190.0,3900.0,male,2009,3.9
136,137,Adelie,Dream,35.6,17.5,191.0,3175.0,female,2009,3.2
137,138,Adelie,Dream,40.2,20.1,200.0,3975.0,male,2009,4.0
138,139,Adelie,Dream,37.0,16.5,185.0,3400.0,female,2009,3.4
139,140,Adelie,Dream,39.7,17.9,193.0,4250.0,male,2009,4.2
140,141,Adelie,Dream,40.2,17.1,193.0,3400.0,female,2009,3.4
141,142,Adelie,Dream,40.6,17.2,187.0,3475.0,male,2009,3.5
142,143,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009,3.0
143,144,Adelie,Dream,40.7,17.0,190.0,3725.0,male,2009,3.7
144,145,Adelie,Dream,37.3,16.8,192.0,3000.0,female,2009,3.0
145,146,Adelie,Dream,39.0,18.7,185.0,3650.0,male,2009,3.6
146,147,Adelie,Dream,39.2,18.6,190.0,4250.0,male,2009,4.2
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009,3.5
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009,3.4
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009,3.8
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009,3.7
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009,4.0

In [37]:
adelie_dream = penguins[(penguins['species'] == 'Adelie')& (penguins['island'] == 'Dream')]

In [38]:
penguins[(penguins['species'] == 'Adelie')& (penguins['island'] == 'Biscoe')].count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
wkilo                44
dtype: int64

In [39]:
penguins[(penguins['species'] == 'Adelie')& (penguins['island'] == 'Dream')].count()

rowid                56
species              56
island               56
bill_length_mm       56
bill_depth_mm        56
flipper_length_mm    56
body_mass_g          56
sex                  56
year                 56
wkilo                56
dtype: int64

In [40]:
penguins[(penguins['species'] == 'Adelie')& (penguins['island'] == 'Torgersen')].count()

rowid                52
species              52
island               52
bill_length_mm       52
bill_depth_mm        52
flipper_length_mm    52
body_mass_g          52
sex                  52
year                 52
wkilo                52
dtype: int64

In [41]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h1>Insight #1</h1>
<h2>No, penguin species does not live exclusively on an island</h2>

<h2>Gentoo on Island</h2>

In [42]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')].count()

rowid                124
species              124
island               124
bill_length_mm       124
bill_depth_mm        124
flipper_length_mm    124
body_mass_g          124
sex                  124
year                 124
wkilo                124
dtype: int64

In [43]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

In [44]:
penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torgensen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

In [45]:
gentoo_biscoe = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Biscoe')]

In [46]:
gentoo_dream = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Dream')]

In [47]:
gentoo_torgersen = penguins[(penguins['species'] == 'Gentoo') & (penguins['island'] == 'Torgersen')]

In [48]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h1>Insight #2</h1>
<h3>Yes, penguins Gentoo are exclusively on the island of Biscoe</h3>

<h2>Chinstrap on Island</h2>

In [49]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

In [50]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
wkilo                68
dtype: int64

In [51]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
wkilo                0
dtype: int64

In [52]:
chinstrap_biscoe = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Biscoe')]

In [53]:
chinstrap_dream = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Dream')]

In [54]:
chinstrap_torgersen = penguins[(penguins['species'] == 'Chinstrap') & (penguins['island'] == 'Torgersen')]

In [55]:
penguins['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

<h1>Insight #3</h1>
<h3>Yes, penguins Chinstrap are exclusively on the island of Dream</h3>

<h1>4-6# Does the Island Affects the weight or body mass of a penguin species?</h1>

In [56]:
adelie_biscoe['body_mass_g']

20     3400.0
21     3600.0
22     3800.0
23     3950.0
24     3800.0
25     3800.0
26     3550.0
27     3200.0
28     3150.0
29     3950.0
50     3500.0
51     4300.0
52     3450.0
53     4050.0
54     2900.0
55     3700.0
56     3550.0
57     3800.0
58     2850.0
59     3750.0
60     3150.0
61     4400.0
62     3600.0
63     4050.0
64     2850.0
65     3950.0
66     3350.0
67     4100.0
100    3725.0
101    4725.0
102    3075.0
103    4250.0
104    2925.0
105    3550.0
106    3750.0
107    3900.0
108    3175.0
109    4775.0
110    3825.0
111    4600.0
112    3200.0
113    4275.0
114    3900.0
115    4075.0
Name: body_mass_g, dtype: float64

In [57]:
adelie_dream['body_mass_g']

30     3250.0
31     3900.0
32     3300.0
33     3900.0
34     3325.0
35     4150.0
36     3950.0
37     3550.0
38     3300.0
39     4650.0
40     3150.0
41     3900.0
42     3100.0
43     4400.0
44     3000.0
45     4600.0
46     3425.0
47     2975.0
48     3450.0
49     4150.0
84     3350.0
85     3550.0
86     3800.0
87     3500.0
88     3950.0
89     3600.0
90     3550.0
91     4300.0
92     3400.0
93     4450.0
94     3300.0
95     4300.0
96     3700.0
97     4350.0
98     2900.0
99     4100.0
132    3500.0
133    4475.0
134    3425.0
135    3900.0
136    3175.0
137    3975.0
138    3400.0
139    4250.0
140    3400.0
141    3475.0
142    3050.0
143    3725.0
144    3000.0
145    3650.0
146    4250.0
147    3475.0
148    3450.0
149    3750.0
150    3700.0
151    4000.0
Name: body_mass_g, dtype: float64

In [58]:
adelie_torg['body_mass_g']

0      3750.000000
1      3800.000000
2      3250.000000
3      4201.754386
4      3450.000000
5      3650.000000
6      3625.000000
7      4675.000000
8      3475.000000
9      4250.000000
10     3300.000000
11     3700.000000
12     3200.000000
13     3800.000000
14     4400.000000
15     3700.000000
16     3450.000000
17     4500.000000
18     3325.000000
19     4200.000000
68     3050.000000
69     4450.000000
70     3600.000000
71     3900.000000
72     3550.000000
73     4150.000000
74     3700.000000
75     4250.000000
76     3700.000000
77     3900.000000
78     3550.000000
79     4000.000000
80     3200.000000
81     4700.000000
82     3800.000000
83     4200.000000
116    2900.000000
117    3775.000000
118    3350.000000
119    3325.000000
120    3150.000000
121    3500.000000
122    3450.000000
123    3875.000000
124    3050.000000
125    4000.000000
126    3275.000000
127    4300.000000
128    3050.000000
129    4000.000000
130    3325.000000
131    3500.000000
Name: body_mass_g, dtype: float64

In [59]:
np.round(adelie_torg['body_mass_g'].mean() , 1)

np.float64(3715.9)

In [60]:
np.round(adelie_biscoe['body_mass_g'].mean() , 1)

np.float64(3709.7)

In [61]:
np.round(adelie_dream['body_mass_g'].mean() , 1)

np.float64(3688.4)

<h2>Insight # 4</h2>
<h3>No, the islands does not affect the body mass of adelie penguins</h3>

In [62]:
np.round(adelie_biscoe['wkilo'].mean(), 1)

np.float64(3.7)

In [63]:
np.round(gentoo_dream['wkilo'].mean(), 1)

np.float64(nan)

In [64]:
np.round(gentoo_torgersen['wkilo'].mean(), 1)

np.float64(nan)

<h2>Insight # 5</h2>
<h3>No, the islands does not affect the body mass of gentoo penguins</h3>

In [65]:
np.round(chinstrap_biscoe['wkilo'].mean(), 1)

np.float64(nan)

In [66]:
np.round(chinstrap_dream['wkilo'].mean(), 1)

np.float64(3.7)

In [67]:
np.round(chinstrap_torgersen['wkilo'].mean(), 1)

np.float64(nan)

<h2>Insight # 6</h2>
<h3>No, the islands does not affect the body mass of chinstrap penguins</h3>

<h1>7# Who is the heaviest species?</h1>

<h3>Chinstrap</h3>

In [68]:
np.round(chinstrap_biscoe['wkilo'].mean(), 1)

np.float64(nan)

In [69]:
np.round(chinstrap_dream['wkilo'].mean(), 1)

np.float64(3.7)

In [70]:
np.round(chinstrap_torgersen['wkilo'].mean(), 1)

np.float64(nan)

<h3>Gentoo</h3>

In [71]:
np.round(gentoo_torgersen['wkilo'].mean(), 1)

np.float64(nan)

In [72]:
np.round(gentoo_dream['wkilo'].mean(), 1)

np.float64(nan)

In [73]:
np.round(adelie_biscoe['wkilo'].mean(), 1)

np.float64(3.7)

<h3>Adelie</h3>

In [74]:
np.round(adelie_torg['body_mass_g'].mean() , 1)

np.float64(3715.9)

In [75]:
np.round(adelie_biscoe['body_mass_g'].mean() , 1)

np.float64(3709.7)

In [76]:
np.round(adelie_dream['body_mass_g'].mean() , 1)

np.float64(3688.4)

<h2>Insight # 7</h2>
<h3>All species has an average weight of 3.7 kilo regardless of the island location where they live. Therefore all species have the same weight.</h3>

<h1>8# What year has the most recorded data made for male adelie?</h1>

In [77]:
penguins_agg = penguins.groupby(["species", "year", "sex"]).count()

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_5628\453018342.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  penguins_agg = penguins.groupby(["species", "year", "sex"]).count()

In [78]:
penguins_agg

                       rowid  island  bill_length_mm  bill_depth_mm  \
species   year sex
Adelie    2007 female     22      22              22             22
               male       28      28              28             28
          2008 female     25      25              25             25
               male       25      25              25             25
          2009 female     26      26              26             26
               male       26      26              26             26
Chinstrap 2007 female     13      13              13             13
               male       13      13              13             13
          2008 female      9       9               9              9
               male        9       9               9              9
          2009 female     12      12              12             12
               male       12      12              12             12
Gentoo    2007 female     16      16              16             16
               male       18      18              18             18
          2008 female     22      22              22             22
               male       24      24              24             24
          2009 female     20      20              20             20
               male       24      24              24             24

                       flipper_length_mm  body_mass_g  wkilo
species   year sex
Adelie    2007 female                 22           22     22
               male                   28           28     28
          2008 female                 25           25     25
               male                   25           25     25
          2009 female                 26           26     26
               male                   26           26     26
Chinstrap 2007 female                 13           13     13
               male                   13           13     13
          2008 female                  9            9      9
               male                    9            9      9
          2009 female                 12           12     12
               male                   12           12     12
Gentoo    2007 female                 16           16     16
               male                   18           18     18
          2008 female                 22           22     22
               male                   24           24     24
          2009 female                 20           20     20
               male                   24           24     24

In [79]:
penguins_agg = penguins.groupby(["species", "year", "sex"]).size()

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_5628\1196039631.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  penguins_agg = penguins.groupby(["species", "year", "sex"]).size()

In [80]:
penguins_agg

species    year  sex
Adelie     2007  female    22
                 male      28
           2008  female    25
                 male      25
           2009  female    26
                 male      26
Chinstrap  2007  female    13
                 male      13
           2008  female     9
                 male       9
           2009  female    12
                 male      12
Gentoo     2007  female    16
                 male      18
           2008  female    22
                 male      24
           2009  female    20
                 male      24
dtype: int64

In [81]:
penguins_agg.unstack()

sex             female  male
species   year
Adelie    2007      22    28
          2008      25    25
          2009      26    26
Chinstrap 2007      13    13
          2008       9     9
          2009      12    12
Gentoo    2007      16    18
          2008      22    24
          2009      20    24

<h2>Insight # 8</h2>
<h3>The year that has most recorded male adelie is in 2007.</h3>

<h1>9# Which is heavier between penguins species in terms of sex?</h1>

In [82]:
weight_sex = np.round(penguins.groupby(['species','sex'])['wkilo'].mean(), 1)

In [83]:
weight_sex

species    sex
Adelie     female    3.4
           male      4.0
Chinstrap  female    3.5
           male      3.9
Gentoo     female    4.7
           male      5.4
Name: wkilo, dtype: float64

In [84]:
weight_sex.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.4

<h2>Insight #9</h2>
<h3>The heaviest penguin species in terms of sex is male</h3>

<h1>10# What year is the highest weight of male penguins?</h1>

In [85]:
sex_year = np.round(penguins.groupby(['sex','year'])['wkilo'].mean(), 1)

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_5628\429140060.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sex_year = np.round(penguins.groupby(['sex','year'])['wkilo'].mean(), 1)

In [86]:
sex_year

sex     year
female  2007    3.8
        2008    3.9
        2009    3.9
male    2007    4.4
        2008    4.6
        2009    4.5
Name: wkilo, dtype: float64

In [87]:
sex_year.unstack()

year    2007  2008  2009
sex
female   3.8   3.9   3.9
male     4.4   4.6   4.5

<h2>Insight #10</h2>
<h3>The year with the highest weight of MALE penguins is in the year of 2008 with the average of 4.6 kilo.</h3>

<h1>CORRELATION VS. CAUSATION</h1>

<H1>11# Correlation between Bill Length and Bill Depth</H1>

In [88]:
b_length_depth = penguins['bill_length_mm'].corr(penguins['bill_depth_mm'])

In [89]:
b_length_depth

np.float64(-0.23505287035553282)

<h2>Insight #11</h2>
<h3> There is no Correlation between Bill Lenght and Bill Depth</h3>

<H1>12# Correlation between Bill Length and Weight</H1>

In [90]:
b_length_weight = penguins['bill_length_mm'].corr(penguins['wkilo'])

In [91]:
b_length_weight

np.float64(0.5931909066868786)

<h2>Insight #12</h2>
<h3> There is Strong Correlation between Bill Lenght and Weight</h3>

<H1>13# Correlation between Flipper Length and Weight</H1>

In [92]:
f_length_weight = penguins['flipper_length_mm'].corr(penguins['wkilo'])

In [93]:
f_length_weight

np.float64(0.8706550277578784)

<h2>Insight #13</h2>
<h3> There is Strong Correlation between Flipper Lenght and Weight</h3>

<H1>14# Correlation between flipper lenght and bill depth</H1>

In [94]:
flipper_bill = penguins['flipper_length_mm'].corr(penguins['bill_depth_mm'])

In [95]:
flipper_bill

np.float64(-0.5838512164654123)

<h2>Insight #14</h2>
<h3> There is Strong Correlation between Flipper and Bill lenght</h3>

<h1>CORRELATION ANALYSIS BETWEEN QUALITATIVE AND QUANTITATIVE DATA</h1>

<H2>Use of One way Annova</H2>

In [97]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Collecting scipy
  Downloading scipy-1.15.2-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from scipy) (2.2.2)
Downloading scipy-1.15.2-cp312-cp312-win_amd64.whl (40.9 MB)
   ---------------------------------------- 0.0/40.9 MB ? eta -:--:--
   --- ------------------------------------ 3.7/40.9 MB 18.2 MB/s eta 0:00:03
   ----- ---------------------------------- 6.0/40.9 MB 14.8 MB/s eta 0:00:03
   -------- ------------------------------- 8.7/40.9 MB 14.1 MB/s eta 0:00:03
   ----------- ---------------------------- 12.1/40.9 MB 14.5 MB/s eta 0:00:02
   ------------- -------------------------- 13.9/40.9 MB 13.6 MB/s eta 0:00:02
   --------------- ------------------------ 16.3/40.9 MB 13.1 MB/s eta 0:00:02
   ------------------- -------------------- 19.7/40.9 MB 13.6 MB/s eta 0:00:02
   ---------------------- ----------------- 23.1/40.9 MB 13.9 MB/s eta 0:00:02
   ------------------------- -------------- 26.2/40.9 MB 14.1 MB/s eta 0:00:02
   ---------------------------- ----------- 29.1/40.9 MB 14.1 MB/s eta 0:00:01
   ------------------------------ --------- 31.7/40.9 MB 14.0 MB/s eta 0:00:01
   --------------------------------- ------ 33.8/40.9 MB 13.6 MB/s eta 0:00:01
   ----------------------------------- ---- 35.9/40.9 MB 13.3 MB/s eta 0:00:01
   ------------------------------------- -- 38.5/40.9 MB 13.2 MB/s eta 0:00:01
   ---------------------------------------- 40.9/40.9 MB 13.1 MB/s eta 0:00:00
Installing collected packages: scipy
Successfully installed scipy-1.15.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC38\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [98]:
import scipy

In [99]:
from scipy.stats import f_oneway

<h3>Testing correlation between body mass and sex:</h3>

In [106]:
( penguins[penguins['sex'] == 'male']['body_mass_g'],
 penguins[penguins['sex'] == 'female']['body_mass_g'])

(0      3750.000000
 3      4201.754386
 5      3650.000000
 7      4675.000000
 8      3475.000000
           ...
 334    3800.000000
 336    3950.000000
 339    4000.000000
 341    3775.000000
 342    4100.000000
 Name: body_mass_g, Length: 179, dtype: float64,
 1      3800.0
 2      3250.0
 4      3450.0
 6      3625.0
 12     3200.0
         ...
 335    3525.0
 337    3650.0
 338    3650.0
 340    3400.0
 343    3775.0
 Name: body_mass_g, Length: 165, dtype: float64)

In [107]:
f_stats, p_value = f_oneway( penguins[penguins['sex'] == 'male']['body_mass_g'],
                             penguins[penguins['sex'] == 'female']['body_mass_g'])

p_value

np.float64(3.0226600487050246e-15)

<h2>Insight #15</h2>
<h3>There is no correlation between the sex and the body mass</h3>

<h3>Testing correlation between body mass and island:</h3>

In [108]:
( penguins[penguins['island'] == 'dream']['body_mass_g'],
 penguins[penguins['island'] == 'torgersen']['body_mass_g'],
 penguins[penguins['island'] == 'biscoe']['body_mass_g'])

(Series([], Name: body_mass_g, dtype: float64),
 Series([], Name: body_mass_g, dtype: float64),
 Series([], Name: body_mass_g, dtype: float64))

In [109]:
f_stats, p_value = f_oneway( penguins[penguins['island'] == 'dream']['body_mass_g'],
                             penguins[penguins['island'] == 'torgersen']['body_mass_g'],
                             penguins[penguins['island'] == 'biscoe']['body_mass_g'])


p_value

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_5628\291294711.py:1: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  f_stats, p_value = f_oneway( penguins[penguins['island'] == 'dream']['body_mass_g'],

np.float64(nan)

<h2>Insight #16</h2>
<h3>There is no correlation between island and body mass</h3>